<form method="post" action="{{ path('app_ouverage_delete', {'id': ouverage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ouverage.id) }}">
    <button class="btn">Delete</button>
</form>
