{% extends 'base.html.twig' %}

{% block title %}New Ouverage{% endblock %}

{% block body %}
    <h1>Create new Ouverage</h1>

    {{ include('ouverage/_form.html.twig') }}

    <a href="{{ path('app_ouverage_index') }}">back to list</a>
{% endblock %}
