{% extends 'home_page/HomePageClient.html.twig' %}
{% block body %}
    <body class="main-layout">
    <div class="ourwork">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>nos evenement </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for evenement in evenements %}
                    <div class="col-md-4">
                        <div class="our_box">

                            <figure><img src="{{ asset('/uploads/' ~ evenement.image )|imagine_filter('carre') }}" alt="#" /></figure>
                            <div class="read_more"  > <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a></div>
                            <div class="read_more" ><a href="{{ path('app_participant_new',{'id':evenement.id}) }}">participer </a> </div>

                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
            </div></div></div>
    </tbody>
    </table>

    </body>
{% endblock %}
