{% extends 'base.html.twig' %}
    {% block body %}
        <h1>Inscription</h1>
        {{ include('login/mdp.html.twig') }}
        <a href="{{ path('app_login_login') }}">Retour</a>
    {% endblock %}