{{ form_start(form) }}
<center>
    {{ form_widget(form.role,{"attr":{"placeholder":"Role"}}) }}
    <button style="background: darkgoldenrod" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</center>
