{% extends 'baseBack.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Commentaire</th>

            <th>nom event</th>


            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>

                <td>{{ commentaire.commentaire }}</td>
                <td>{{ commentaire.event.nom  }}</td>
                <td>
                    {{ include('commentaire/_delete_form.html.twig') }}
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
