{% extends 'home_page/HomePageClient.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
        {% for commentaire in commentaire %}
            <tr>

                <td>{{ commentaire.commentaire }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>






{% endblock %}
